<div id="cookie-notice">
  <div class="inner">
    <div class="cookie-notice-text">
      <p>We use cookies to better understand how you use our website, which allows us to provide you with the best
        possible user experience. By continuing to use our site, you accept our use of cookies. Read more about our
        <a href="#">Privacy Policy.</a></p>
    </div>
    <div class="cookie-notice-btn">
      <button id="accept-cookie" class="btn">Accept</button>
    </div>
    <button id="cookie-notice-close" title="Close"></button>
  </div>
</div>
