<section class="section-latest-blog">
	<div class="inner">
		<h2 class="title">Latest Blog Posts</h2>
		<div class="wrapper">
			<a href="#" class="item">
				<img src="/images/latest-blog-img3.png" alt="" class="object-fit object-fit-cover">
				<div class="date">March 17, 2021</div>
				<h3 class="title">New FAFSA: 6 Key Things you Should Know</h3>
			</a>
			<a href="#" class="item">
				<img src="/images/latest-blog-img1.png" alt="" class="object-fit object-fit-cover">
				<div class="date">March 17, 2021</div>
				<h3 class="title">How to Find an Internship using LinkedIn</h3>
			</a>
			<a href="#" class="item">
				<img src="/images/latest-blog-img2.png" alt="" class="object-fit object-fit-cover">
				<div class="date">August 18, 2020</div>
				<h3 class="title">7 Things You’ll Absolutely Need For College</h3>
			</a>
			<a href="#" class="item">
				<img src="/images/latest-blog-img4.png" alt="" class="object-fit object-fit-cover">
				<div class="date">February 22, 2021</div>
				<h3 class="title">3 Factors to Consider When Choosing a Major</h3>
			</a>
			<a href="#" class="item">
				<img src="/images/latest-blog-img5.png" alt="" class="object-fit object-fit-cover">
				<div class="date">August 18, 2020</div>
				<h3 class="title">How to Get Over Writer’s Block in College</h3>
			</a>
		</div>
	</div>
</section>
