<section class="section-inner-page-banner">
	<img src="/images/inner-page-banner.png" class="object-fit object-fit-cover" alt="#">
	<div class="inner">
		<div class="wrapper">
			<div class="img">
				<img src="/images/amount-varies-img.png" alt="#">
			</div>
			<div class="text">
				<h3>New York Financial Writers' Associations Scholarships</h3>
				<p>New York Financial Writers Association</p>
			</div>
		</div>
	</div>
</section>

<section class="section-data">
	<div class="inner">
		<div class="wrapper">
			<div class="item">
				<h3>Avg. Amount Awarded</h3>
				<p>Varies</p>
			</div>
			<div class="item image">
				<div>
					<h3>Days</h3>
					<p>122</p>
				</div>
				<div class="img">
					<img src="/images/calendar.png" alt="#">
				</div>
			</div>
			<div class="item">
				<h3>Application Deadline</h3>
				<p>February 15 2022</p>
			</div>
			<div class="item">
				<h3>Renewable</h3>
				<p>No</p>
			</div>
		</div>
	</div>
</section>

<section class="section-info-tabs">
	<div class="inner">
		<div class="tabs-nav">
			<a href="#description">Description</a>
			<a href="#amount">Amount Details</a>
			<a href="#eligibility">Eligibility Requirements</a>
			<a href="#apply">How to Apply</a>
		</div>

		<div class="tab">
			<div class="item" id="description">
				<h3>Description</h3>
				<p>The Dallas Hispanic Law Foundation awards scholarships and bar study grants to Hispanic law students. Applicants must be those law students who are in the process of completing their first or second year classes to apply for the DHLF Judicial Internship Program.</p>
			</div>
			<div class="item" id="amount">
				<h3>Amount Details</h3>
				<h4>$1,800</h4>
				<p>Low Amount Awarded</p>
			</div>
			<div class="item">
				<H3>Eligibility Requirements</H3>
			</div>
			<div class="item" id="eligibility">
				<h3>Eligibility Requirements</h3>
				<ul class="list">
					<li>Must be a graduate student</li>
					<li>CheckmarkMust attend a university or a four-year college</li>
					<li>CheckmarkRestricted by race for Hispanic students</li>
					<li>CheckmarkMust study full-time</li>
					<li>CheckmarkRestricted to residents of Texas</li>
					<li>CheckmarkRestricted to students studying in Texas</li>
					<li>CheckmarkRestricted to students studying Law/Legal Services</li>
					<li>CheckmarkRestricted by ethnic heritage: Hispanic</li>
					<li>CheckmarkRestricted to: Hispanic</li>
				</ul>
			</div>
			<div class="item" id="apply">
				<h3>How to Apply</h3>
				<ul>
					<li>
						<h5>What you'll need:</h5>
						<ul class="list">
							<li>Application Form</li>
						</ul>
						<h6>For more info, please <br/>visit our site</h6>
					</li>
					<li>
						<h5>Contact:</h5>
						<p>Mackenzie Causey<br/> Director of Scholarships<br/><a href="#">mcausey@dallasfoundation.org</a><br/>Tel: <a href="#">214-6942509</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{{>latestBlog}}
