<table style="max-width:600px;margin-top:60px" width="100%" cellspacing="0" cellpadding="0" border="0"
	   align="center">
	<tbody>
	<tr>
		<td style="max-width:600px" width="100%" valign="middle" align="center">
			<img style="display:block;border:none;outline:none;text-decoration:none;max-width:200px"
				 src="https://ci6.googleusercontent.com/proxy/ep_OO3i_dhJbGSnze4SDwtP9oevJqCtyrmMAhjUdnihep2-yqoUpQl8F6XfYTdNPIDlmSrI8sY3MIAuhdP-o4vkfjz4oodpNAkT2qdYPcZ4IZR_t8iSOIlM=s0-d-e1-ft#https://thecollegepod.devbucket.me/wp-content/uploads/2022/01/logo.png"
				 alt="" title="" class="CToWUd" width="100%" border="0">
			<img style="display:block;border:none;outline:none;text-decoration:none;max-width:600px"
					 src="https://ci5.googleusercontent.com/proxy/3-TIwczKK32EwGXe2OdvXNPRLwizd8nVrCnozxfrR0Yn57HzyUk8girVEibEep92V5fOZgeKyNmt0SN0lpX3o5Vb0gIzFElqY45CpHSUtpi25QFKu927vFEQe_Y2ozzL4oPd2w=s0-d-e1-ft#https://thecollegepod.devbucket.me/wp-content/uploads/2021/12/image-mail-form.png"
				 alt="" title="" class="CToWUd" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlXQ.." width="100%"
				 border="0">
			<div style="opacity:0.01">
				<div role="button">
					<div>
						<div></div>
					</div>
				</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<table style="max-width:600px;background:#ffffff" width="100%" cellspacing="0" cellpadding="0" border="0"
	   align="center">
	<tbody>
	<tr>
		<td style="padding-bottom:5px;padding-top:5px" valign="middle" align="center">
			<table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
				<tr>
					<td align="left">
						<p>
							Dear <strong><a href="mailto:domonologst@gmail.com" target="_blank">domonologst@gmail.com</a>
						</strong>!
							Thank you for completing your registration with <strong><a
							href="http://thecollegepod.devbucket.me" target="_blank"
							data-saferedirecturl="https://www.google.com/url?q=http://thecollegepod.devbucket.me&amp;source=gmail&amp;ust=1645199760862000&amp;usg=AOvVaw1O-VeM1ATHqp2O9MNTT0rM">thecollegepod.devbucket.me</a></strong>.
							This email serves as a confirmation that your account is <strong>activated</strong>.<br>
							Login : <a href="mailto:domonologst@gmail.com" target="_blank">domonologst@gmail.com</a>
						</p>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
<table style="max-width:600px" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF"
	   align="center">
	<tbody style="display:block">
	<tr style="display:block">
		<td style="padding-bottom:40px;padding-top:15px;display:block;" valign="middle"
			align="center">
			<table style="max-width:320px" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
				<tr>
					<td width="320" valign="middle" align="center"><span style="color:#ffffff"><a
						style="color:#ffffff;text-align:center;text-decoration:none;font-weight:500;background: #ef454e;padding: 10px 15px;border-radius: 5px;"
						href="http://thecollegepod.devbucket.me"
						name="m_5336090641691195635_m_-2974176907707732711_cta_top_ru" target="_blank"
						data-saferedirecturl="https://www.google.com/url?q=http://thecollegepod.devbucket.me&amp;source=gmail&amp;ust=1645199760862000&amp;usg=AOvVaw1O-VeM1ATHqp2O9MNTT0rM">Learn more on our website</a></span>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
