<section class="section-scholarship">
	<div class="inner">
		<div class="wrapper">
			<div class="left">
				<h1 class="title">Scholarship<span>Guide</span></h1>
				<div class="img">
					<img src="/images/scholarship-guide-img1.png" alt="">
				</div>
				<h2>The ultimate scholarship guide</h2>
				<p>If you have questions about how to find and win scholarships, then you have come to the right<br/>place. Learn tips to submit a top-notch application and increase your chances of winning.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu, egestas nunc mattis tellus<br/>euismod tortor fusce vestibulum. Malesuada fames in lectus ipsum fames sed.<br/>Velit parturient aliquam auctor nisl, sagittis odio sed elementum in. </p>
				<p><a href="#" class="btn">download Scholarship GUIDE</a></p>
			</div>
			<div class="right">
				<a class="item">
					<div class="img">
						<img src="/images/scholarship-essay-guide-img4.png" alt="">
					</div>
					<h2 class="title">Scholarship<span>Essay <strong>Guide</strong></span></h2>
				</a>
				<a class="item">
					<div class="img">
						<img src="/images/scholarship-essay-guide-img3.png" alt="">
					</div>
					<h2 class="title">Scholarship<span>Interview <strong>Guide</strong></span></h2>
				</a>
			</div>
		</div>
	</div>
</section>

{{>latestBlog}}
